---
interface Props {
	title: string;
}
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Un Administrador de Empresas enfocado en la ciencia de datos" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="keywords" content="Daniel Alberto Lopez Gomez, Daniel Lopez Gomez, Daniel Lopez, Unillanos, Universidad de los Llanos, Ciencia de Datos Unillanos, Daniel Lopez Unillanos, Daniel Lopez Universidad de los Llanos, daniel alberto lopez gomez, daniel lopez gomez, daniel lopez, unillanos, universidad de los llanos, ciencia de datos unillanos, daniel lopez unillanos, daniel lopez universidad de los llanos " />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>

